*.out
coverage.html
.idea
.DS_Store
config_app.json
vendor/
config-local.json
temp
test/integration/test-certs/
telemetry-data/
.*.env
**/.env
**/partner_token.txt
**/thirdparty_token.txt
**/thirdparty_refresh_token.txt